
.btn {
    backface-visibility: hidden;
    /* 
    link is a pseudo-class, it styles elements under a special condition 

    visited: the styling after it is clicked
    */
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        /* 
        We have to change the display type, since an a tag is just text.
        We want the display to be inline-block
        */
        display: inline-block;
        /* curve the edges of the button */
        border-radius: 10rem;

        /* control speed of animation, must be on initial state */
        transition: all .2s;

        position: relative;
    }

    &:hover {
        transform: translateY(-.4rem);
        box-shadow: 0 1rem 1rem rgba($color-black, .3);
        
        &::after {
            animation: buttonEnlargeFlash ease-out .5s;
        }
    }

    &:active {
        transform: translateY(-.2rem);
        box-shadow: 0 .4rem .6rem rgba($color-black, .3);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }


    &::after {
        /* In order for the after element to be created we need a display/content property */
        display: inline-block;
        content: '';

        /* 
        The after pseudo-class is treated as a child of the selector its attached to
        100% of its parent.
        */
        height: 100%;
        width: 100%;
        border-radius: 10rem;

        /* Put the after element behind its RELATIVE parent (must be specified) */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &--animated {
        animation: moveInBottom ease-in .55s .5s;

        /* The first 0% keyframe styles will be applied before the animation starts */
        animation-fill-mode: backwards;
    }

}
